section {
    background-color: rgb(12 124 236);
    

    .container-80w {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 1rem;
        overflow: hidden;
        


        .option-container {
            display: flex;
            justify-content: center;
            flex-basis: calc(100% / 6);
            align-items: center;
            padding: 4rem 0rem;
            flex-wrap: wrap;
            flex-grow: 1;
            transition: transform 0.3s;
            cursor: pointer;
            

            &:hover {
                transform: scale(1.3);
                transition: 0.3s;
                transition-timing-function: linear;
            }



            img {
                max-height: 60px;
                max-width: 65px;


            }

            a {
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 14px;


                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}