header {
    background-color: white;

    

    .container-90w {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0rem;


    }

    ul {
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        row-gap: 1rem;
        column-gap: 0.7rem;

        li {
            padding: 0rem 0.8rem;
            font-weight: 800;
            font-size: 14px;
            text-transform: uppercase;

            a.active {
                    color: rgb(12 124 236);
                    border-bottom: 5px solid rgb(12 124 236);
                    padding-bottom: 3.325rem;
                }


            a {
                color: gray;
                text-decoration: none;

                

                &:hover {
                    color: rgb(12 124 236);
                    border-bottom: 5px solid rgb(12 124 236);
                    padding-bottom: 3.325rem;
                }

               
            }


        }
    }



}